.nav-anchor {
    color: #fff !important; 
  }
  .nav-anchor:hover, .nav-anchor.active {
    color: #61dafb !important;
  }
  
  .navbar-brand{
    margin-right: 3em !important;
  }

  .navbar{
    margin-bottom: 20px;
  }

  a{
    margin: 10px;
  }